@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');

.projectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color: white;
    margin:170px 0;
}

.projectContainer>h1{
    padding-bottom: 15px;
}

.projectContainer>p{
    padding-bottom: 15px;
    margin-bottom:-40px;
}

.projectContainer_projects{
    display: flex;
    /* width:60vw; */
    margin-top:50px;
    flex-wrap: wrap ;
    margin-left: 120px;
}