/* .project_container{
    margin-left: 300px;
} */

.project>img{
    width:300px;
    height:159px;
}

.project{
    margin:15px;
    width: 300px;
    height: 159px;
    transition:transform 100ms ease-in;
}

.project:hover{
    color:white ;
    background-color: #f64c08;
    transform:scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project_content >h4{
  padding-bottom: 5px;
  padding-left: 8px;
}

.project_content>p{
    font-size:15px;
    padding-left: 8px;
}