@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');

.skillContainer{
    display: flex;
    align-items:center ;
    justify-content: center;
    padding-top:170px;
}

.skillContainer_text{
    color: white;
    flex:0.6;
    text-align: left;
    max-width:500px;
    margin-bottom: 20px;
}

.skillContainer_text>h3{
   font-size:30px;
}

.skillContainer_image{
    flex:0.4;
    text-align: center;
    margin-right: 100px;
}

.skillContainer_image>img{
     width:550px;
    border-radius: 3px;
    height:350px;
    margin-left:120px;
}

.skillContainer_skillSet>h5{
    font-family: "Montserrat",sand-serif;
    font-weight:300;
    padding-bottom:23px;
    padding-top:10px;
}

.skillContainer_slider>.MuiLinearProgress-colorPrimary{
    background-color: rgb(88,88,88);
    margin-right:150px;
}

.skillContainer_slider1>div >.MuiLinearProgress-barColorPrimary{
    background-color: tomato;
}

.skillContainer_slider2>div >.MuiLinearProgress-barColorPrimary{
    background-color: rgb(156,26,3);
}

.skillContainer_slider3>div >.MuiLinearProgress-barColorPrimary{
    background-color: rgb(255,145,0);
}

.skillContainer_slider4>div >.MuiLinearProgress-barColorPrimary{
    background-color: rgb(228,213,0);
}

.skillContainer_slider5>div >.MuiLinearProgress-barColorPrimary{
    background-color: rgb(136,146,0);
}

.skillContainer_slider6>div >.MuiLinearProgress-barColorPrimary{
    background-color: rgb(255,209,6);
}














